:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
}
a { color: var(--primary-color); }

body { /* background-color:#d6dadb; */
  font-family: 'Lato', sans-serif;
  text-align: justify;/* texr justifier */
  letter-spacing: 2px;/* espace entre les lettres */
  word-spacing: 2px;/* espace entre les mots */
  font-weight: 500; /* le text sera en gras  les degree sont de 100 -200-300 a 900 or lighter, normal , bold, bolder  */
  font-size: 16px;/* taille des caractères */
  text-transform: capitalize; /* lowercase changer les lettres en miniscule , uppercase majuscule , capitalize mettre en majuscule que la premiere lettre */
  font-variant: small-caps; /* transforms all lowercase letters into small caps—uppercase letters set at the same height as their surrounding lowercase letters */
  line-height: 1.6; /* espace entre les lignes */
  background-image: url('picture/ph.jpg');
  background-repeat: repeat;
  background-attachment: fixed; /* faza tres utils */

  /* background-position: top center; */

  /* background-size: 30px;/*fixer la taille du BG 30px , cover ; couvrir la surface interessente */

  /* background-origin: content-box;  comment se place la photo */
}

.hello {
  color: brown;
  text-align: left;
  margin-left: 680px;
  margin-top: -200px;
}

nav ul li :hover,
a:focus {  /* No underlining when hovering over a link */
  color: rgb(160, 98, 103);
  font-size: 25px;
}

a:visited {
  /* visited link */
  color: brown;
}

nav ul li a {
  list-style: none;
  font-size: 20px;
  text-decoration: none;
}

nav ul li {
  display: inline;
  margin: 15px;
  padding: 5px; /* padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding: 10px 20px ; padding top and botton 10px , padding left w right 20
  padding:10px 20px 30px padding top 10 padding left, right  20 padding botton 30
  clear:both;
 dima tosta3ml m3a float , float tbadel la postion ymin wela ysar alors l element eli ba3dha bedabet na3mlouli clear bech yab9a fi blasstou ma yatla3ech l blasete el element eli 9ablou eli 3manelou el float */
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

img {
  width: 250px;
}

.image {
  width: 250px;
  clip-path: circle();
  margin-left: 400px;
  margin-top: 100px;
}

main.intro {
  margin-left: 680px;
  margin-top: 5px;
}

span {
  color: blue;
}

footer div img {
  width: 20px;
}

footer {
  margin: 0 auto;
  width: 100%;
  display: flex;/* display flex et flex-direction: column sont ensemble pour mettre le contenue au center de la page */
  flex-direction: column;
  text-align: center;
}

h1 {
  color: #dc4444;
  font-size: 30px; /* au lieu d ecrire les trois ligne border-top-width,border-top-style,border-top-color on êut tt simplement ecrire border-top 10px solid yellow
    border-top-width: 10px;largeur de 10 ,  border-top-style:solid ;/*bordure de type solide , pareille pour le right , left botton
    border-top-color: yellow;
    au lieu d ecrire les trois ligne border-top-width,border-top-style,border-top-color on peux aussi ecrire border-width border border-color
    border-width:20px 20px 20px 20px ;
    border-style: double double double double;
    border-color: red red blue black;
     au lieu des 3 border above on reduire le code a border:10px solid red; */
  clear: both;
}

.skills {
  text-align: center;
  margin-top: 50px;
}

.summary {
  margin-left: 250px;
}

button {
  border: none;   /* overwrites browser defaults and resets the border */
  font-family: inherit;
  text-decoration: none;
  display: inline-block;
  background-color: #357b70;
  color: white;
  padding: 10px; /* space between the text and the border of button */
  border-radius: 3px; /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format carree rond et non egue */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);/* border color */
  margin-left: 750px;
  box-shadow: 5px 10px 30px white; /* shadow pour le box */
  transition-duration: 0.2s;
  transition-property: opacity; /* overflow: auto;/* si le text est olus long que le box alors  on utilise  auto , visible (pour afficher le reste du texte meme s il est sous le box , hiden ( cacher le text en dehors du box , scroll (afficher un assenseur
 overflow-x: hidden; cacher l assenseur en bas
 overflow-y: hidden;cacher l assenseur a droite */
}

button:hover,
button:focus { /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer; /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

/* .button__secondary {
    background-color: #e0b354;
    color: #2b2b2b;
  }

  .navigation-list__item--active {
    text-decoration: none;
  } */

/* #test{
    width: 200px;
    height: 50px;
    background-color: rgb(147, 80, 255);
   /* background: linear-gradient(to right,red 0%,blue 100%);
   background: repeating-linear-gradient(to right,black 0px,black 20px,white 20px ,white 40px);
   background: repeating-linear-gradient(45deg,black 0px,black 20px,white 20px ,white 40px);
} */ /* .essai{
    width: 100px;
    height: 100px;
    background-color: orange;
    background: radial-gradient(circle at center center, red 0% , blue 100%); /* circle , ellipse , format d afficharge  center center , top left , center right , bottom right , ...
} */

.profile {
  padding: 0 px;
  border: 2px solid black;
  position: relative;
  float: left; /* move the ul in left side */
  margin: 10px;
}

.profile {
  width: 200px;
  height: 100px;
}

header {
  display: inline-block;
  width: 100%;
  padding: 20px;
  flex: 0 1 200px;
}

* {
  box-sizing: border-box;
}

.grid__item {
  background-color: lightgray;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
  padding: 20px;
  line-height: 1.6;
}

.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  h1 {
    font-size: 22px;
  }
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

/* @keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  } */

/* .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  } */

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
